NTST.ScriptLinkService.Web/Web References/DCIImport/WEBSVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://localhost" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost">
      <s:element name="ImportRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="SystemCode" type="s:string" />
            <s:element minOccurs="0" name="UserName" type="s:string" />
            <s:element minOccurs="0" name="Password" type="s:string" />
            <s:element minOccurs="0" name="record" type="s:string" />
            <s:element minOccurs="0" name="filewarnings" type="s:long" />
            <s:element minOccurs="0" name="recordstream" type="s:string" />
            <s:element minOccurs="0" name="resultstream" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="ImportRecordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ImportRecordSoapIn">
    <wsdl:part name="parameters" element="s0:ImportRecord" />
  </wsdl:message>
  <wsdl:message name="ImportRecordSoapOut">
    <wsdl:part name="parameters" element="s0:ImportRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="DCIImportSoap">
    <wsdl:operation name="ImportRecord">
      <wsdl:input message="s0:ImportRecordSoapIn" />
      <wsdl:output message="s0:ImportRecordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DCIImportSoap" type="s0:DCIImportSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImportRecord">
      <soap:operation soapAction="http://localhost/WEBSVC.DCIImport.ImportRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DCIImport">
    <wsdl:port name="DCIImportSoap" binding="s0:DCIImportSoap">
      <soap:address location="http://avtest:8972/csp/avtest/hmhcpmlive/WEBSVC.DCIImport.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>